.NavbarItems{
    background-color: black; 
    text-transform: uppercase;
    font-family: 'Barlow','sans-serif';
    font-weight:600;
    font-style: 'SemiBold';
    font-size: 15px;


    margin:0px;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

    height: 150px;
    display:flex;
    justify-content: center; 
    align-items: center;

   
}
.navbar-logo{
    /* color: white;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 100px;
    cursor:pointer; */
}

.nav-menu{
    display:grid;
    grid-template-columns:repeat(7,auto);
    grid-gap:55px;
    list-style: none;
    text-align: left;
    
    padding-top: 0px;
    padding-left:40px;
    padding-right: 10%;
    justify-content: flex-end;
    margin-right: 2rem;

}

.nav-links{
    color:white;
    text-decoration: none;
    display: table;
}

.nav-links:hover{
    color: #F54996;
    transition: all 0.2s ease-out;
}